.f { display: flex; }
.a-center { align-items: center; }
.j-between { justify-content: space-between; }
.mr-16 { margin-right: 16px; }



html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background: #15152a;
  color: #ddd;
  height: 100%;
  width: 100%;
}

a {
  color: #bbbbbb; 
}



.Header {
  height: 56px;
  background: #202041;
}

.Header-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  flex: 1;
}

.Header-logo {
  margin-left: 16px;
  font-size: 24px;
  user-select: none;
  color: #41B883
}



.Nav {
  color: #ffffff;
  font-weight: 200;
}

.Nav-current {
  border: 1px solid #737373;
  padding: 4px 8px;
  user-select: none;
  border-radius: 4px;
}

.Nav-current:hover { 
  border-color: #aaaaaa;
  cursor: pointer;
}



.Main {
  max-width: 1032px;
  padding: 16px;
  margin: 56px auto 0 auto;
}